@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

/* Colors */
html {
    background: #000;
    color: #fff;
}

/* Font */
html {
    font-family: 'Inconsolata', monospace;
    font-size: calc(.5em + .5vw + 1vh);
}

/* Centering */
html {
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* Paragraph wrap */
main {
    width: 50vw;
}

/* On phones use more of the space. */
@media screen and (max-width: 400px) {
  main {
    width: 95vw;
  }
}

ol {
    list-style-position: inside;
    padding: 0;
}

ol li {
    margin-top: .6rem;
}

/* Code styling */
code {
    background: #222;
    color: #0f0;
    padding: .2rem;
    border-radius: 5px;
}

/* Link styling */
a {
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}