.main {
    margin: 0 auto; /* Centering */
    width: 600px;    /* Paragraph wrap */
}

/* On phones use more of the space. */
@media screen and (max-width: 400px) {
  .main {
    width: 95%;
  }
}

.header {
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-bottom: 3px solid #0f0;
}

.header a {
    margin-right: 1rem;
}

.profile {
  margin: 0 auto;
  display: block;
  width: 6em;
  height: 6em;
  border-radius: 9999px;
}