.main {
    margin: 0 auto; /* Centering */
    width: 70vw;    /* Paragraph wrap */
}

/* On phones use more of the space. */
@media screen and (max-width: 400px) {
  .main {
    width: 95vw;
  }
}

.header {
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-bottom: 3px solid #0f0;
}

.header a {
    margin-right: 1rem;
}

/* Code styling, on blog posts we let highlight.js handle this. */
.home code {
    background: #222;
    color: #0f0;
    padding: .1rem;
    border-radius: 5px;
}