@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

/* Global styles for html and body */
html, body {
    margin: 0;
    padding: 0;

    background: #000;
    color: #fff;
}

* {
    font-family: 'Inconsolata', monospace;
    font-size: calc(.5em + .5vw + .5vh);
    box-sizing: border-box;
}

/* List styling */
ol, ul {
    list-style-position: inside;
    padding: 0;
}

ul {
    list-style-type: none;
}

li {
    margin-top: .6rem;
}

/* Code styling */
code {
    background: #222;
    color: #0f0;
    padding: .1rem;
    border-radius: 5px;
}

/* Link styling */
a {
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}